.a
{
    width: 420px;
    height: 48px;
    text-align: center;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: none;
    border: 1px solid silver;
    box-shadow: inset   0px 1px 1px silver  ;
    background-color: rgb(244, 242, 242);
    outline: none;
    margin-left: 70px;
}
.b
{
    width: 60px;

    text-align: center;
    background-color: black;
    color: aliceblue;
    border: none;
    
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.fas {
    font-size: 24px; /* Adjust size as needed */
      /* Adjust color as needed */
    text-decoration: none;
  }
.f
{
  width: 30vw;
  height: 200px;
  background-color: cyan;
  margin: 0;
  padding: 0;
}
.custom-table {
  position: fixed; /* Fixes the table in place */
  top: 0; /* Adjust to position from the top */
  right: 0;   /* Adjust to position from the right */
  /* width: 300px; 
  height: 400px;  */
  overflow: auto; /* Enable scrolling within the table if content overflows */
  z-index: 1000; /* Ensure it stays on top of other content */
}


  
  


  

