.l
{
    margin: 20px 20px 20px 20px ;
    border-radius: 10px;
    border: 1px solid silver;
    padding-bottom: 20px;
}
.m
{
    display: flex;
    justify-content: space-around;
    padding: 17px;
    
}